<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo_list_detail</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}"> to do list </a>
        </nav>
    </header>
<main>
    <div>
        <h1>Tasks</h1>
        <h2> Tasks</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Due date</th>
            </tr>
            <td>Take out the garbage</td>
            <td>Take medicine</td>
        </table>
    </div>
</main>
</body>
</html>
