<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% comment %} <a href="{% url 'todo_list_detail' %}"> details </a> {% endcomment %}
        </nav>
    </header>
<main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                </thead>
                {% for list in todo_list %}
                <tr>
                    <td> {{ list.name }} </td>
                    <td> {{ list.items.all | length  }}  </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
